/* =============
 Sass Imports
 ===============*/

@import "normalize.scss";
@import "boilerplate.scss";

/* =================
    SASS Variables
================*/

$white: #fefefe;
$darkGrey: #2b2b2b;
$bgColor: #1f1e0b;
$orange: #77381a;

@mixin text-glow($color) {
    text-shadow: 0px 0px 8px $color;
}

@mixin gradient-bg($color1, $color2) {
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $color1 0%, $color2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%); /* IE10+ */
  background: linear-gradient(to bottom, $color1 0%, $color2 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/* ====================
    Typography
    ===================*/

body {
    font-size: 0.9em;
    line-height: 1.4;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    
    a {
        //No blue links
        color: inherit;
    }
}


h1 {
    @include text-glow(#555);
    color: $white;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    margin: 2px;
}

h2 {
    color: $white;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: .9em;
    margin: 0 10px;
}

h3 {
    color: $darkGrey;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0 3em 0;

    //Create the line break effect
    @include gradient-bg( #ababab, rgba(254, 254, 254, 1));
    height:2px;
    
    span{
        background:  url("../img/paper_fibers.jpg") repeat scroll 0% 0%;
        padding:20px;
        position:relative;
        top:-.7em;
    }
}


h4 {
    color: $orange;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom:0.2em;
}

h5 {
    font-size:1em;
    color: $darkGrey;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0;
}

/*===================================
  Checkbox Hack for Mobile Navigation
  Thanks Tim Pietrrusky and CSS-Tricks for the idea
  http://css-tricks.com/responsive-menu-concepts/
====================================*/
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  display:none;
  cursor: pointer;
  user-select:none;
}

/* custom-dropdown */
nav[role="custom-dropdown"] {
  label {
    color:$white;
    text-decoration:none;
    font: 1.4em sans-serif;
    transition:color .3s ease-in-out;
  }
    
  ul {
    list-style:none;
  }
}



/*================
    Main Styles
================*/
body {
    background:  url("../img/paper_fibers.jpg") repeat;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    background: url("../img/debut_dark2.jpg") repeat;
    position: relative;
    img {
        float:left;
        max-width: 32px;
        padding: .8em 2%; 
        padding-left: 0;
    }
    z-index: 1; //fix for H1 text appearing over the menus on mobile

    //Add a nice gradient overlay
    &:before{
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        @include gradient-bg(rgba(255,255,255,.2), rgba(0,0,0,0));
    }
}

.banner {
    background: url("../img/bannerImageWide.jpg") $bgColor no-repeat center;
    width: 100%;
    overflow: hidden;
    height: 116px;
}

.bannerText {
    width: 100%;
    text-align: center;
    position: relative;
}



/* ==============
    MOBILE: Menu
============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    width:100%;
}

nav a {
    font-family: 'Droid Serif', serif;
    font-weight: 400;

    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;

    color: $white;
}

nav a:hover,
nav a:visited {
    color: $white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}


/* =========================
  Mobile: Skill Section Styles
  =========================*/

.skillSection section {
    text-align: center;
    margin-bottom: 2em;
}

.skillSection section img {
    position: relative;
    display: block; 
    margin: 0px auto;
    width:30%; 
}

/* ===============================
   Mobile: Project Section Styles
  ===============================*/

.projectSection ul {
    padding: 0;
}

.projectSection p {
    //text-align: justify;
}

.projectSection ul li{
    list-style: none;
    border-bottom: 1px solid rgb(254, 254, 254);
    margin: 0px 0px 30px 0px;
}

.projectSection ul li:last-child{
    border-bottom:none;
    margin-bottom: 0;
    div {
        border-bottom: none;
    }
}

.projectContainer {
    color: $darkGrey;
    display:block;
    padding: 0 10px 30px 0;
    text-decoration: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    overflow: auto;
}


.projectContainer img{
    float:left;
    width:95%;
    background:$darkGrey;
    border: 10px solid $darkGrey;
    margin-bottom: 10px;
    &:hover{
        //nothing for now
    };
}

//Underline links in the text
.projectDescription{
    a{
        text-decoration: none;
    }
    p a{
         text-decoration: underline;
    }
}

/* =======================
   Footer Styles
  =======================*/
.footer-container {
    background: #0c0c0c;
    width:100%;
    margin: 0;
    overflow:auto;
}

.footer-container footer {
    color: $white;
    //padding: 20px 0;
}

.contactContainer {
    float:left;
    margin: 20px 0;
    padding: 20px 0;
}

.contactContainer p{
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0;
}

.contactContainer a{
    color: $white;
    text-decoration: none;
}

.socialMediaContainer{
    margin-top: 20px;
}

.socialMediaIcon{
    width:32px;
    height:32px;
    background: url('../img/sprites.png') ;
    background-size: 64px 192px;
    background-repeat: no-repeat;
    display:block;
    text-indent: -9999px;
    float:left;
    margin-right: .5em;
}

.linkedInIcon {
    background-position: 0px -32px;
    &:hover{
        background-position: -32px -32px;
    };
}

.githubIcon {
    background-position: 0px -64px;
    &:hover{
        background-position: -32px -64px;
    };
}

.fivehundredpxIcon {
    background-position: 0px -96px;
    &:hover{
        background-position: -32px -96px;
    };
}

.facebookIcon {
    background-position: 0px -128px;
    &:hover{
        background-position: -32px -128px;
    };
}

.emailIcon {
    background-position: 0px -160px;
    &:hover{
        background-position: -32px -160px;
    };
}

footer img {
    float:right;
    width:103px;
    padding:42px 0;
    display:none;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    h1 {
        font-size: 3em;
        margin-bottom: 0px ;
    }

    h2 {
        font-size: 1em;
        margin: 0.83em 0;
    }
/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .header-container {
        position: fixed;
        top: 0px;    
        width: 100%;
        margin: 0px auto;
    }

    .banner {
        //background: url("../img/bannerImageWide2.jpg") $bgColor center no-repeat;
        //background-color: #1f1e0b;
        //background-position:  center 30px;
        
        height:200px;
        margin-top: 30px;
    }

    .bannerText {
        top: 8%;
        width: 50%;
        left: 25%;
    }

    footer img {
        display: block;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    // nav ul li {
    //     display: inline;
    // }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/*======================================
   MAX Width Media Query For Mobile Nav
   This is only query that uses Max-Width.
   It is used to remove the checkbox-style Nav  
======================================*/   
@media screen and (max-width: 767px) {

  nav[role="custom-dropdown"] {
    ul {
      display:none;
      height:100%;
    }

    label {
      //position:relative;
      display:block;
      //width:100%;
      //min-height:2.25em;
      padding:0;
      font-size:1.1em;
      margin:0;
      border: .15em solid rgba(60, 60, 60, .2);
    }
    
    label:after {
      content:" ";
      float:right;
      width:32px;
      height:32px;
      //margin:0 5px 0 0;
      background: url('../img/sprites.png') ;
      background-size: 64px 192px;
      background-position: 0px 0px;
      //@include text-glow(#555);
      
       position: absolute;
       right: 6%;  
       top: 14px;    
      //content:"\2261";
      //font-size:3em;
    }
    
    input[type=checkbox]:checked ~ label:after {
      //color:#222;
      background-position:-32px 0px;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
        
      > li {
        width:100%;
        opacity:.8;
        text-align:left;

        -webkit-box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
        -moz-box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
        box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
        cursor: pointer;
     
        &:hover {
            background-color:rgba(0, 0, 0, .2);
            color:$white;
            box-shadow:
              0 .05em .25em 0 rgba(0, 0, 0, .35),
              inset 0 0 0 2em rgba(0, 0, 0, .3);
        }
      }        
    }
  }
}

/*==================================
  Mobile First Mid-Size Media Query
==================================*/
@media only screen and (min-width: 768px) {

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.2em;
    margin-top: 0;
}


/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #121212;
           -moz-box-shadow: 0 5px 10px #121212;
                box-shadow: 0 5px 10px #121212;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 52%;
        padding: 3px 0;
    }

    nav a {

        float: left;
        width: 22%;
        margin: 0 0.7%;
        padding: 1em 0px;
        margin-bottom: 0;
        &:hover{
            text-decoration: none;
            @include text-glow($white); 
        }
    }

    nav li:first-child a {
        margin-left: 0;
        padding-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;        
        padding-right: 0;
    }

    .banner {
        height:464px;
        margin-top: 0;
    }

    .bannerText {
        top: 9em;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }
    
    .skillSection section {
        float:left;
        width:31%;
        margin:2% 3% 2% 0;
        
        p{
            text-align: justify;

            //word-break: break-all;

            // Non standard for webkit
            //word-break: break-word;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
    }

    .skillSection section:last-child  {
        margin-right: 0;        
        padding-right: 0;
    }
    
    .skillSection section img {
        width:60%; 
    }

    .projectContainer {
        border-right: 1px solid rgb(187, 187, 187);
        //margin: 0 0 7% 0;
    }
    .projectSection ul li{
        border-right: 1px solid rgb(254, 254, 254);
    }

    .projectContainer img {
        width:50%;
        margin-bottom: 0;
    }

    .projectDescription {
        width:43%;
        float:right;
        margin: 0 10px 0 0;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    h4 {
      font-size: 1.2em; //a fix a weird text bug on the Expertise headers.  The font has to be 1.1em for smaller screens 
    }

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}