#ignore app icons for now
/*.png
favicon.ico

#ignore mac files
.DS_Store

*.backup.*
/css/.sass-cache/
/design/Animated_Logo.gif
/design/Animated_Logo.psd
/design/*
/design/Vector Social Media Icons/
/img/backup/